* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;

  /*width: 100vw;*/
  /*height: 100vh;*/
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  -ms-overflow-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
