.HeaderPage {
  background: #f4f4f4;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

.logo {
  fill: #00499e;
  margin-left: 30px;
  height: auto;
  width: 160px;
  cursor: pointer;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 30px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  color: #454545;
  margin-right: 20px;
}

.registerBtn {
  background: #00499e;
  height: 50px;
  width: 130px;
  border-radius: 40px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  right: 45px;
  cursor: pointer;
  user-select: none;
}

.loginBtn {
  background: #ffffff;
  height: 50px;
  width: 130px;
  border-radius: 40px;
  border: 2px solid #00499e;
  font-size: 18px;
  font-weight: 400;
  color: #454545;
  right: 45px;
  cursor: pointer;
  margin-right: 20px;
  user-select: none;
}

.logoutBtn {
  background: #ffffff;
  height: 50px;
  width: 130px;
  border-radius: 40px;
  border: 2px solid #00499e;
  font-size: 18px;
  font-weight: 400;
  color: #454545;
  right: 45px;
  cursor: pointer;
  user-select: none;
}
