.HeaderPage{
    background: #F4F4F4;
    height: 100px;
    width: 100%;
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
}

.logo{
    fill: #00499E;
    margin-left: 30px;
    height: auto;
    width: 175px;
    cursor: pointer;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 30px;
}

.registerBtn{
    background: #FFFFFF;
    height: 50px;
    width: 130px;
    border-radius: 40px;
    border: 2px solid #00499E;
    font-size: 18px;
    font-weight: 400;
    color: #454545;
    right: 45px;
    cursor: pointer;
}