.homePage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 100px;
}

.part {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  border: 1.5px solid #f4f4f4;
  height: 500px;
  margin-top: 100px;
}

.homeText {
  font-size: 26px;
  font-weight: 700;
  color: #454545;
  margin-bottom: 60px;
}

.voteBtn {
  background: #00499e;
  height: 65px;
  width: 215px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 25px;
  cursor: pointer;
}

.resultBtn {
  background: #00499e;
  opacity: 50%;
  height: 65px;
  width: 215px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
}
