.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 100px;
}

.topBox {
  display: flex;
  align-items: center;
}

.partBtn {
  font-size: 23px;
  font-weight: 700;
  border: 2px solid #00499e;
  border-radius: 10px;
  width: 50px;
  height: 40px;
}

.title {
  font-size: 27px;
  font-weight: 700;
}
