.container {
  /*height: 100vh;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 100px;
}

.title {
  font-size: 27px;
  font-weight: 700;
  margin: 100px 0 100px 0;
}

.candidatesBox {
  display: flex;
  flex-wrap: wrap; /*한 줄로 쭉 정렬되던 걸 줄바꿈되게(디폴트는 nowrap)*/
  justify-content: center;

  width: 1000px;
}

.candidateBtn {
  background-color: #f4f4f4;
  font-size: 27px;
  font-weight: 700;
  border-radius: 10px;
  width: 18%; /*한 줄당 개수 지정!!!*/
  height: 60px;
  margin: 5px 5px;
}

.voteBtn {
  background: #00499e;
  height: 65px;
  width: 215px;
  border-radius: 20px;
  font-size: 23px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 80px;
}
