.container {
  /*height: 100vh;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 100px;
}

.topBox {
  display: flex;
  align-items: center;

  margin: 70px 0 30px 0;
}

.clickedPartBtn {
  color: white;
  background-color: #00499e;
  font-size: 23px;
  font-weight: 700;
  border: 3px solid #00499e;
  border-radius: 10px;
  width: 50px;
  height: 40px;

  margin: 0 3px;
}

.partBtn {
  font-size: 23px;
  font-weight: 700;
  border: 3px solid #00499e;
  border-radius: 10px;
  width: 50px;
  height: 40px;

  margin: 0 3px;
}

.title {
  font-size: 27px;
  font-weight: 700;

  margin-left: 10px;
}

.rankBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  /*width: 700px;*/
  height: 500px;

  /*background-color: blue;*/
}

.rank {
  /*width: 30%;*/
  height: 16%;

  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;

  border: 4px solid #00499e80;
  border-radius: 10px;
  background-color: white;
}

.leftBox {
  /*순위,이름 같이 있는*/
  display: flex;
  align-items: center;

  margin-right: 60px;
}

.rankNumber {
  margin-right: 20px;

  background: #00499e80;
  height: 55px;
  width: 55px;
  border-radius: 10px;
  font-size: 27px;
  font-weight: 700;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 27px;
  font-weight: 700;
}

.count {
  font-size: 27px;
  font-weight: 700;
}
