.container {
  height: 100%;

  background-color: #00499e;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 120px;
}

.text {
  width: 600px;
  font-size: 35px;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.form {
  background-color: white;
  width: 620px;
  height: 730px;
  padding: 30px 30px;
}

.box {
  margin-bottom: 5px;
}

.title {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 6px;
  color: #454545;
}

.input {
  height: 45px;
  width: 450px;
  border-radius: 15px;
  border: 1px solid #454545;
  outline: none;
  font-size: 15px;
  color: #454545;
  padding: 7px;
}

.msgBox {
  height: 20px;
  margin: 5px 0 0 20px;
}

.checkMsg {
  font-size: 12px;
  color: blue;
}

.errorMsg {
  font-size: 12px;
  color: red;
}

.idBox,
.emailBox {
  display: flex;
  align-items: center;
}

.checkBtn {
  /*중복확인 버튼*/
  background: #00499e;
  height: 45px;
  width: 100px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  color: #ffffff;
  margin-left: 10px;
}

.availableBtn {
  background: #1ed349;
  height: 45px;
  width: 100px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  color: #ffffff;
  margin-left: 10px;
}

.select {
  width: 218px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #454545;
  margin-right: 15px;
}

.registerBtnBox {
  display: flex;
  justify-content: center;
}

.registerBtn {
  background: #00499e;
  height: 58px;
  width: 160px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  color: #ffffff;
  margin-top: 25px;
}
