.container {
  height: 100%;

  background-color: #00499e;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 120px;
}

.text {
  width: 600px;
  font-size: 30px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.form {
  background-color: white;
  width: 600px;
  height: 700px;
  padding: 30px 30px;
}

.box {
  margin-bottom: 5px;
}

.title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.input {
  height: 40px;
  width: 450px;
  border-radius: 14px;
  border: 1px solid #454545;
  outline: none;
  font-size: 14px;
  color: #454545;
}

.msgBox {
  height: 20px;
  margin: 5px 0 0 20px;
}

.checkMsg {
  font-size: 12px;
  color: blue;
}

.errorMsg {
  font-size: 12px;
  color: red;
}

.idBox,
.emailBox {
  display: flex;
  align-items: center;
}

.checkBtn {
  /*중복확인 버튼*/
  background: #00499e;
  height: 38px;
  width: 80px;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  color: #ffffff;
  margin-left: 10px;
}

.select {
  width: 140px;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border-radius: 10px;

  margin-right: 15px;
}

.registerBtnBox {
  display: flex;
  justify-content: center;
}

.registerBtn {
  background: #00499e;
  height: 48px;
  width: 130px;
  border-radius: 15px;
  border: none;
  font-size: 17px;
  color: #ffffff;

  margin-top: 40px;
}
